NODE_ENV=development

JWT_SECRET=development
COOKIE_SECRET=development

RDS_HOSTNAME=localhost
RDS_PORT=5432
RDS_DB_NAME=
RDS_USERNAME=
RDS_PASSWORD=

YOUTUBE_API_KEY=

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

HOST=http://localhost:3000
HTTP_PORT=8081

ROLE=admin

IDSEED=12345

COMPANION_AWS_KEY=
COMPANION_AWS_SECRET=
COMPANION_AWS_BUCKET=
COMPANION_AWS_REGION=
COMPANION_SECRET=thisisasecret
COMPANION_UPLOAD_FOLDER=


